<div class="row">
    <div class="col-sm-12">
        <form class="well">
            <div class="form-group">
                <input 
                    type="text" 
                    name="username" 
                    class="form-control" 
                    placeholder="Enter Github Username..." 
                    [(ngModel)]="username" 
                    (keyup)="searchUser()">
            </div>
        </form>
    </div>
</div>

<div *ngIf="user">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ user.name }}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <img src="{{ user.avatar_url }}" class="img-thumbnail">
                    <a href="{{ user.html_url }}" target="_blank" class="btn btn-default btn-block">View Profile</a>
                </div>
                <div class="col-sm-8">
                    <div class="stats">
                        <span class="label label-default">{{ user.public_repos }} Public Repos</span>
                        <span class="label label-primary">{{ user.public_gists }} Public Gists </span>
                        <span class="label label-success">{{ user.followers }} Followers</span>
                        <span class="label label-info">{{ user.following }} Following</span>
                    </div>
                    <br>
                    <ul class="list-group">
                        <li class="list-group-item" *ngIf="user.login"><strong>Username: {{ user.login }}</strong></li>
                        <li class="list-group-item" *ngIf="user.location"><strong>Location: {{ user.location }}</strong></li>
                        <li class="list-group-item" *ngIf="user.email"><strong>Email: {{ user.email }}</strong></li>
                        <li class="list-group-item" *ngIf="user.blog"><strong>Blog: {{ user.blog }}</strong></li>
                        <li class="list-group-item" *ngIf="user.created_at"><strong>Member Since: {{ user.created_at | date: 'MM/dd/yyyy' }}</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">User Repos</h3>
        </div>
        <div class="panel-body">
            <div *ngFor="let repo of repos">
                <div class="row">
                    <div class="col-sm-9">
                        <h4><a target="_blank" href="{{ repo.html_url }}">{{ repo.name }}</a></h4>
                        <p>{{ repo.description }}</p>
                    </div>
                    <div class="col-sm-3">
                        <span class="label label-default">{{ repo.watchers }} Watchers</span>
                        <span class="label label-primary">{{ repo.forks }} Forks</span>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>